<template>
    <div>
        <ul style="padding:0;margin-bottom:10" id="chat">
            <li style="list-style:none" v-for="(message, index) in messages" :key="index" >
                <b>{{ message.user }}: </b> {{ message.text }}
            </li>
        </ul>
        <div>
            <input type="text" name="msg" v-model="newMessage" @keyup.enter="Send">
            <input type="button" value="Send" @click="Send">
        </div>
    </div>
</template>
<script>
export default {
    props:[
        'username'
    ],
    data() {
        return {
            messages: [],
            newMessage: '',
        }
    },
    created() {
        Echo.join('chat')
            .listen('MessageSent',(event) => {
                // this.messages.push(event.message);
                console.log('bitch');
            })
    },
    methods: {
        Send: function(){
            this.messages.push({user: this.username, text: this.newMessage})
            axios.post('send', {user: this.username, message: this.newMessage});
            this.newMessage = '';
        }
    }
}
</script>
