<template>
    <form method="GET" action="/chat">
        <label for="nick">Name:</label>
        <input type="text" name="name">
        <label for="pass">Password:</label>
        <input type="text" name="pass">
        <input type="submit" value="Enter">
    </form>
</template>
<script>
export default {
    created() {
        Echo.join('channel')
            .listen('ParticipantJoin', (event) => { console.log('a'); })
    }
}
</script>
